<div>
    {{#if loggedIn}}
    <h1>Welcome to the dashboard</h1>

    <button id="postCreateBtn" class="btn-no-style">Create New Post</button>
    {{else}}
    <h1>Please log in to view your dashboard</h1>
    {{/if}}

</div>
<script src="/js/dashboard.js"></script>
